* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Merriweather', serif;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: auto 980px auto;
    grid-template-rows: 100px auto;
    grid-template-areas: 
        "tbar-l nav tbar-r"
        "bbar-l main bbar-r";
}

.nav {
    background-color: #1e1e1e;
}

.main {
    background-color: white;
}

#nav {
    text-align: center;
    padding: 30px 40px;
    font-family: Courier, monospace;
    color: gray;
    font-weight: bold;
    font-size: 30px;
}
