#main-container {
    height: calc(100% - 12px);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 40% auto;
    grid-template-areas: 
        "nutrition"
        "maintenance"
        "training"
        "schedule"
        "emotion";
}

.main-c {
    margin-top: 6px;
    border: gray solid 1px;
    border-radius: 0px;
    padding: 6px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #1e1e1e;
}

#nutrition {
    grid-area: nutrition;
    
}

#maintenance {
    grid-area: maintenance;
}

#training {
    grid-area: training;
}

#schedule {
    grid-area: schedule;
}

#emotion {
    grid-area: emotion;
}
