#main-container {
    height: calc(100% - 12px);
    margin: 6px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "nutrition"
        "maintenance"
        "training"
        "schedule"
        "emotion";
}

#nutrition {
    border: gray solid 1px;
    grid-area: nutrition;
    margin: 3px;
}

#maintenance {
    border: gray solid 1px;
    grid-area: maintenance;
    margin: 3px;
}

#training {
    border: gray solid 1px;
    grid-area: training;
    margin: 3px;
}

#schedule {
    border: gray solid 1px;
    grid-area: schedule;
    margin: 3px;
}

#emotion {
    border: gray solid 1px;
    grid-area: emotion;
    margin: 3px;
}
